[submodule "lib/exus-build"]
	path = lib/exus-build
	url = https://github.com/heavenlyhash/exus-build
[submodule "lib/ahslib"]
	path = lib/ahslib
	url = https://github.com/mdm-releases/ahslib-releases
	mdm = dependency
	mdm-version = v0.6.6
	update = none
[submodule "lib/slf4j"]
	path = lib/slf4j
	url = https://github.com/mdm-releases/slf4j-releases
	mdm = dependency
	mdm-version = v1.6.6
	update = none
[submodule "lib/logback"]
	path = lib/logback
	url = https://github.com/mdm-releases/logback-releases
	mdm = dependency
	mdm-version = v1.0.7
	update = none
[submodule "lib/jgit"]
	path = lib/jgit
	url = https://github.com/mdm-releases/jgit-releases
	mdm = dependency
	mdm-version = 2.3.1.201302201838-r
	update = none
[submodule "lib/argparse4j"]
	path = lib/argparse4j
	url = https://github.com/mdm-releases/argparse4j-releases
	mdm = dependency
	mdm-version = v0.4.0
	update = none
[submodule "lib/jsch"]
	path = lib/jsch
	url = https://github.com/mdm-releases/jsch-releases
	mdm = dependency
	mdm-version = v0.1.49
	update = none
[submodule "lib/junit"]
	path = lib/junit
	url = https://github.com/mdm-releases/junit-releases
	mdm = dependency
	mdm-version = v4.10
	update = none
