[submodule "lib/exus-build"]
	path = lib/exus-build
	url = https://github.com/heavenlyhash/exus-build.git
[submodule "releases"]
	path = releases
	url = https://github.com/mdm-releases/mdm-releases.git
	mdm = releases
	update = none
[submodule "lib/ahslib"]
	path = lib/ahslib
	url = https://github.com/mdm-releases/ahslib-releases.git
	mdm = dependency
	mdm-version = v0.6.7
	update = none
[submodule "lib/slf4j"]
	path = lib/slf4j
	url = https://github.com/mdm-releases/slf4j-releases.git
	mdm = dependency
	mdm-version = v1.6.6
	update = none
[submodule "lib/logback"]
	path = lib/logback
	url = https://github.com/mdm-releases/logback-releases.git
	mdm = dependency
	mdm-version = v1.0.7
	update = none
[submodule "lib/jgit"]
	path = lib/jgit
	url = http://mdm-releases.com/org.eclipse.jgit/org.eclipse.jgit-releases.git
	mdm = dependency
	mdm-version = 3.3.2.201404171909-r.mvn
	update = none
[submodule "lib/argparse4j"]
	path = lib/argparse4j
	url = https://github.com/mdm-releases/argparse4j-releases.git
	mdm = dependency
	mdm-version = v0.4.0
	update = none
[submodule "lib/jsch"]
	path = lib/jsch
	url = http://mdm-releases.com/com.jcraft/jsch-releases.git
	mdm = dependency
	mdm-version = 0.1.51.mvn
	update = none
[submodule "lib/junit"]
	path = lib/junit
	url = https://github.com/mdm-releases/junit-releases.git
	mdm = dependency
	mdm-version = v4.10
	update = none
[submodule "lib/proguard"]
	path = lib/proguard
	url = https://github.com/mdm-releases/proguard-releases.git
	mdm = dependency
	mdm-version = v4.9
	update = none
[submodule "lib/commons-lang"]
	path = lib/commons-lang
	url = http://mdm-releases.com/commons-lang/commons-lang-releases.git
	mdm = dependency
	mdm-version = 2.6.mvn
	update = none
[submodule "lib/josh"]
	path = lib/josh
	url = http://mdm-releases.com/net.polydawn/josh-releases.git
	mdm = dependency
	mdm-version = v0.1
	update = none
